iframe {
    width: 75%;
    height: 470px;
    pointer-events: auto;
}

a {
    left: 50%;
    color: blue;
    text-decoration: underline;
}

.opage {
    background-color: #1b508b;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.opage:hover {
    background-color: #164070;
    transform: scale(1.1);
}

.opage:active {
    background-color: #12355e;
    transform: scale(1);
}

.fsBtn {
    background-color: #4CAF50;
    color: white;
    padding: 15px 32px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.fsBtn:hover {
    background-color: #45a049;
    transform: scale(1.1);
}

.fsBtn:active {
    background-color: #3e8e41;
    transform: scale(1);
}
